# Python
__pycache__/
*.py[cod]

# Bytecode compilado
*.pyo
*.pyd

# Virtual environment
venv/

# Entorno de variables
.env

# Archivos generados
media/
staticfiles/

# Archivos de requerimientos y documentación (ya están OK)
requirements.txt
COMMIT_TEMPLATE.md