# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/

# Variables de entorno
.env
.env.*
backend/.env
backend/.env.*
frontend/.env.local

# Archivos generados
media/
staticfiles/
*.sqlite3
*.db
*.log
*.bak
*.tmp

# Cobertura / tests
.coverage
htmlcov/
*.cover
nosetests.xml
coverage.xml

# Docker
*.tar
*.pid
*.sock

# IDEs y sistema
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Archivos de requerimientos y documentación (ya están OK)
COMMIT_TEMPLATE.md
*.md